body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  padding: 20px;
  font-family: 'Happy Monkey', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  flex: 0 0 30%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.list-container {
  max-width: 800px;
  margin: 50px auto;
}

.list-container ul {
  margin: 50px 0;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 150px;
}

.save-button {
  background: #75b9be;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:hover {
  background: #619fa3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  text-align: left;
}

li button {
  color: #000;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

li button:hover {
  background: darkred;
}
