body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  padding: 20px;
  font-family: 'Happy Monkey', sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 150px;
}

.save-button {
  background: #75b9be;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:hover {
  background: #619fa3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

li button {
  color: #000;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

li button:hover {
  background: darkred;
}
